In [5]:
import numpy as np
import pandas as pd

# set the max number of columns to display
pd.options.display.max_columns = 98

In [6]:
serv_entrate_path = '../pac_sose/economia/fabbisogni_comuni/FC01A_serv_entrate/FC01A_serv_entrate.csv'

In [7]:
df_serv_entrate = pd.read_csv(serv_entrate_path, sep=';')

In [8]:
print("totale comuni censiti ", len(df_serv_entrate.COMUNE_CAT_COD.unique()))

totale comuni censiti  6702

In [9]:
df_serv_entrate.head()

,ANNO,COMUNE_CAT_COD,CAT_DET_COD_1,CAT_DET_COD_2,CAT_DET_COD_3,CAT_DET_COD_4,CAT_DET_COD_5,COEFF_TEORICO,IND1,IND3,IND4,IND5,IND6,IND7,IND8,IND9,IND10,IND11,LQP_COD_1,LQP_COD_2,LQP_COD_3,LQP_COD_4,LQP_COD_5,LQP_COD_6,LQP_COD_S
0,2010,A052,0.007314,0.235773,0.135332,0.164862,0.456719,0.000447,24.199183,123.729184,-1.039833,2.063064,0.301306,0.000000,0.0,9.535919,28.0,66.637397,123.729184,-1.039833,0,0,10.0,5.0,3.4
1,2010,A146,0.234971,0.059315,0.136848,0.268198,0.300667,0.000019,0.000000,NaN,NaN,3.227979,0.000000,0.000000,0.0,0.000000,3.0,51.259253,NaN,NaN,1,0,NaN,NaN,NaN
2,2010,A182,0.001551,0.189163,0.224143,0.137365,0.447778,0.002147,5.483805,-51.217919,-12.525939,0.907494,0.021473,0.014331,0.0,20.745082,20.0,53.598403,-51.217919,-12.525939,0,0,3.0,3.0,5.0
3,2010,A189,0.166632,0.111346,0.154570,0.169732,0.397719,0.000022,5.218264,-62.999425,-6.100978,1.550000,0.000000,0.000000,0.0,9.114583,24.0,48.282754,-62.999425,-6.100978,0,0,3.0,4.0,5.6
4,2010,A197,0.168812,0.105282,0.147094,0.169176,0.409636,0.000021,0.000000,NaN,NaN,2.352459,1.729508,0.084699,0.0,5.089059,36.0,55.980404,NaN,NaN,1,0,NaN,NaN,NaN

## Columns Description

-  ANNO: anno rif
-  COMUNE_CAT_COD: cod comune
-  CAT_DET_COD_1: coefficiente popolazione residente ottenuta applicando modello di regressione definito nella analisi
-  CAT_DET_COD_2: coefficiente economia locale ottenuto applicando modello di regressione definito nella analisi
-  CAT_DET_COD_3: coefficiente prezzo degli input (vedi img sotto) ottenuto applicando modello di regressione definito nella analisi
-  CAT_DET_COD_4: coefficiente valore degli immobili ottenuto applicando modello di regressione definito nella analisi
-  CAT_DET_COD_5: coefficiente demografia ottenuto applicando modello di regressione definito nella analisi
-  COEFF_TEORICO: coefficiente del fabbisogno standard teorico per il comune
-  IND1: spesa storica del comune del servizio riscossione tributi per abitante in euro
-  IND3: % spesa storica per riscossione rispetto a fabbisogno
-  IND4: % Livello servizi offerti vs livello servizi standard(%)
-  IND5: numero di bollette o avvisi preventivi per famiglia(numero)
-  IND6: numero di avvisi di accertamento recupero evasione per famiglia(numero)
-  IND7: numero di cartelle di pagamento emesse per famiglia
-  IND8: numero di certificazioni fiscali per 1000 abitanti
-  IND9: numero di autorizzazioni per 1000 abitanti (si correla alla variabile sopra ???)
-  IND10: numero ore di apertura uffici al pubblico
-  IND11: percentuale velocita' riscossione tasse
-  LQP_COD_1: differenza tra fabbisogno standard e capacità fiscale,
-  LQP_COD_2: 
-  LQP_COD_3: comune non valutabile (0/1)
-  LQP_COD_4: Flag percentile anomalo (differenza % minore del 5^ percentile o maggiore del 95^ percentile)
-  LQP_COD_5: Posizione del Comune rispetto alla spesa
-  LQP_COD_6: Posizione del Comune rispetto al livello dei servizi
-  LQP_COD_S: Misura (da 0 a 10) della capacità del Comune di soddisfare la domanda di servizi espressa dai cittadini, tenendo conto della spesa e dei servizi offerti rispetto allo standard

In [17]:
df_serv_entrate.describe()

,ANNO,CAT_DET_COD_1,CAT_DET_COD_2,CAT_DET_COD_3,CAT_DET_COD_4,CAT_DET_COD_5,COEFF_TEORICO,IND1,IND3,IND4,...,IND9,IND10,IND11,LQP_COD_1,LQP_COD_2,LQP_COD_3,LQP_COD_4,LQP_COD_5,LQP_COD_6,LQP_COD_S
count,13401.000000,13401.000000,13401.000000,13401.000000,13401.000000,13401.000000,13401.000000,13401.000000,11786.000000,11786.000000,...,13011.000000,13011.000000,12923.000000,11786.000000,11786.000000,13401.000000,13401.000000,11786.000000,11786.000000,11786.000000
mean,2011.499664,0.094613,0.147041,0.172419,0.182984,0.402942,0.000149,15.475062,3.149360,2.420425,...,13.963075,27.105910,67.565587,3.149360,2.420425,0.208417,0.263936,4.885372,5.387069,5.678093
std,1.500056,0.100446,0.050914,0.042136,0.054483,0.061645,0.000975,28.909844,110.379460,55.602564,...,44.097212,140.421294,66.818151,110.379460,55.602564,0.718149,0.646544,2.805718,2.870034,2.097332
min,2010.000000,0.000053,0.000000,0.023384,0.000336,0.069373,0.000004,0.000000,-99.960984,-93.351289,...,0.000000,0.000000,0.000000,-99.960984,-93.351289,0.000000,0.000000,1.000000,1.000000,1.000000
25%,2010.000000,0.025824,0.111897,0.149787,0.150661,0.377511,0.000028,3.429078,-60.505792,-17.727480,...,0.000000,12.000000,49.930279,-60.505792,-17.727480,0.000000,0.000000,3.000000,3.000000,4.200000
50%,2010.000000,0.060506,0.147844,0.176389,0.167597,0.415898,0.000053,9.082119,-21.275178,-1.250284,...,4.838398,18.000000,66.042345,-21.275178,-1.250284,0.000000,0.000000,5.000000,5.000000,5.800000
75%,2013.000000,0.125793,0.182499,0.196631,0.200782,0.442981,0.000117,17.546890,30.410661,13.385014,...,13.308844,26.000000,80.472946,30.410661,13.385014,0.000000,0.000000,7.000000,8.000000,7.200000
max,2013.000000,0.708882,0.644495,0.393953,0.585904,0.578189,0.064014,1629.397187,3489.887068,3854.800106,...,1699.633700,9360.000000,4261.679041,3489.887068,3854.800106,4.000000,3.000000,10.000000,10.000000,10.000000

In [20]:
df_serv_entrate[df_serv_entrate.columns[10:20]].describe()

,IND4,IND5,IND6,IND7,IND8,IND9,IND10,IND11,LQP_COD_1,LQP_COD_2
count,11786.000000,13011.000000,13011.000000,13011.000000,13011.000000,13011.000000,13011.000000,12923.000000,11786.000000,11786.000000
mean,2.420425,2.218528,0.236131,0.286016,2.250284,13.963075,27.105910,67.565587,3.149360,2.420425
std,55.602564,2.645609,0.600678,0.746951,60.489884,44.097212,140.421294,66.818151,110.379460,55.602564
min,-93.351289,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-99.960984,-93.351289
25%,-17.727480,1.206576,0.025507,0.000000,0.000000,0.000000,12.000000,49.930279,-60.505792,-17.727480
50%,-1.250284,1.760462,0.120096,0.025007,0.000000,4.838398,18.000000,66.042345,-21.275178,-1.250284
75%,13.385014,2.737653,0.283585,0.185596,0.000000,13.308844,26.000000,80.472946,30.410661,13.385014
max,3854.800106,190.404762,50.188356,14.004773,4087.193460,1699.633700,9360.000000,4261.679041,3489.887068,3854.800106

## Columns Description

-  ANNO: anno rif
-  COMUNE_CAT_COD: cod comune
-  CAT_DET_COD_1: coefficiente popolazione residente ottenuta applicando modello di regressione definito nella analisi
-  CAT_DET_COD_2: coefficiente economia locale ottenuto applicando modello di regressione definito nella analisi
-  CAT_DET_COD_3: coefficiente prezzo degli input (vedi img sotto) ottenuto applicando modello di regressione definito nella analisi
-  CAT_DET_COD_4: coefficiente valore degli immobili ottenuto applicando modello di regressione definito nella analisi
-  CAT_DET_COD_5: coefficiente demografia ottenuto applicando modello di regressione definito nella analisi
-  COEFF_TEORICO: coefficiente del fabbisogno standard teorico per il comune
-  IND1: spesa storica del comune del servizio riscossione tributi per abitante in euro
-  IND3: % spesa storica per riscossione rispetto a fabbisogno
-  IND4: % Livello servizi offerti vs livello servizi standard(%)
-  IND5: numero di bollette o avvisi preventivi per famiglia(numero)
-  IND6: numero di avvisi di accertamento recupero evasione per famiglia(numero)
-  IND7: numero di cartelle di pagamento emesse per famiglia
-  IND8: numero di certificazioni fiscali per 1000 abitanti
-  IND9: numero di autorizzazioni per 1000 abitanti (si correla alla variabile sopra ???)
-  IND10: numero ore di apertura uffici al pubblico
-  IND11: percentuale velocita' riscossione tasse
-  LQP_COD_1: differenza tra fabbisogno standard e capacità fiscale,
-  LQP_COD_2: 
-  LQP_COD_3: comune non valutabile (0/1)
-  LQP_COD_4: Flag percentile anomalo (differenza % minore del 5^ percentile o maggiore del 95^ percentile)
-  LQP_COD_5: Posizione del Comune rispetto alla spesa
-  LQP_COD_6: Posizione del Comune rispetto al livello dei servizi
-  LQP_COD_S: Misura (da 0 a 10) della capacità del Comune di soddisfare la domanda di servizi espressa dai cittadini, tenendo conto della spesa e dei servizi offerti rispetto allo standard

![LE DETERMINANTI DEI FABBISOGNI STANDARD: IL DETTAGLIO](./imgs/dettaglio%20fabbisogni.png)

### COEFF_TEORICO

Fabbisogno standard teorico, rappresenta il fabbisogno per ogni comune calcolato in base ai dati osservati fino alla data del 2010

In [32]:
print('coeff teorico rispetto a fabbisogno storico al 2010 ', sum(df_serv_entrate.loc[df_serv_entrate['ANNO'] == 2010].COEFF_TEORICO))
print('coeff teorico rispetto a fabbisogno storico al 2013 ', sum(df_serv_entrate.loc[df_serv_entrate['ANNO'] == 2013].COEFF_TEORICO))

coeff teorico rispetto a fabbisogno storico al 2010  1.0000000022100004
coeff teorico rispetto a fabbisogno storico al 2013  0.9998990597500012

### CAT_DET_COD_X

se questi dati sono corretti allora per facendo una somma riga per riga dovremmo ottenere sempre 1. Questo ci dice rispetto ai fabbisogni comunali come si distribuisce la spesa del comune/ente

In [36]:
df_cat = df_serv_entrate.filter(regex="^CAT_*")

In [40]:
df_sum = df_cat.sum(axis=1)
df_sum.describe()

count    1.340100e+04
mean     1.000000e+00
std      6.385656e-10
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      1.000000e+00
dtype: float64